{% set route = app.request.get('_route') %}

<header class="header container">

    <div class="d-flex align-items-center">
        <img src="{{ app.user.avatar }}" alt="Avatar of {{ app.user.username }}" class="rounded-circle me-3">
        <a href="{{ path('logout') }}" title="Logout"><i class="fa-solid fa-right-from-bracket fa-lg"></i></a>
    </div>
</header>