{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center vh-100">
        {% block container %}{% endblock container %}
    </div>
{% endblock %}
