{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-column align-items-center justify-content-center bg-blue position-absolute top-50 w-100">
        {% block container %}{% endblock container %}
    </div>
{% endblock %}