{% extends 'security/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block container %}

    <div class="container text-center">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <a href="{{ path('oauth_steam_check') }}">
            <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_noborder.png" alt="Connexion à Steam">
        </a>
    </div>

{% endblock %}
