@charset 'utf-8';

@import "utils/_variables";

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/*! Utilities */
@import "utils/_reset";
@import "utils/_mixins";
@import "utils/_classes";
@import "utils/_fonts";
@import "utils/_responsive";

/*! Components */
@import "components/_border";
@import "components/_text";
@import "components/_buttons";

/*! Layout */
@import "layout/_footer";

/*! Pages */
@import "pages/_error";

.layout {
    @include baseText();

    background-color: $blue;
    color: $white;

    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__content {
        flex: 1 0 auto;
    }
}